# IDEs
.vscode
.vs
.idea

# Build directories
.next
dist
coverage
catalog/build
lib

# Package management
node_modules
package-lock.json
yarn-error.log

# Log files
/*.log

# Folder view configuration files
.DS_Store
Desktop.ini

# Thumbnail cache files
._*
*~
Thumbs.db

out/*
